ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

h1, h2 {
	margin: 0;
}

.best {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.we__best {
	height: 100vh;
	width: 100%;
	background-image: url("../img/bg_we_best.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	width: 1100px;
	min-height: 650px;
	padding: 0 80px;
	margin: 0 auto;
}

.we__best__title {
	display: flex;
	justify-content: center;
}

.we__best__title--text {
	font-family: "Gagalin";
	font-size: 72px;
	line-height: 0.88;
	color: #2f3234;
}

.we_best__content {
	display: flex;
	justify-content: center;
}

.we_best__content--list {
	display: flex;
}

.we_best__content--item {
	display: flex;
	flex-direction: column;
	max-width: 290px;
	align-items: center;
	margin: 0 15px;
}

.we_best__content--title {
	font-family: "Lifehack";
	font-size: 24px;
	color: #2f3234;
	margin-top: 30px;
	text-align: center;
}

.we__best__content--description {
	text-align: center;
	font-family: "Ubuntu";
	font-size: 14px;
	line-height: 1.7;
	font-weight: 300;
	color: #2f3234;
	opacity: .8;
	margin-top: 30px;
}